@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_Layout";
}

<div class="p-4">

    <a asp-controller="Project" asp-action="Index"
       class="btn btn-primary px-4 py-2"
       style="border-radius:10px; font-size:18px;">
        Danh sách dự án →
    </a>
    <a asp-controller="Project" asp-action="Create"
       class="btn btn-secondary px-4 py-2 ms-3"
       style="border-radius:10px; font-size:18px;">
        Tạo dự án →
    </a>
</div>