@{
    ViewData["Title"] = "Home Page";
    var roleId = Context.Session.GetInt32("RoleId") ?? 0;
}

@{
    Layout = "_Layout";
}

<div class="p-4">
    <h2 class="fw-bold mb-4">Welcome to TaskLab</h2>

    <div class="d-flex gap-3 flex-wrap">
        <a asp-controller="Project" asp-action="Index"
           class="btn btn-primary px-4 py-2"
           style="border-radius:10px; font-size:18px;">
            <i class="bi bi-folder"></i> Projects
        </a>
    </div>
    @* MENTOR *@
        @if (roleId == 1)
    {
        <a asp-controller="ProjectManagement" asp-action="Create"
        class="btn btn-success px-4 py-2"
        style="border-radius:10px; font-size:18px;">
            <i class="bi bi-plus-circle"></i> New project
        </a>
        <div class="mt-3">
            <a asp-controller="Intern" asp-action="Index"
           class="btn btn-info px-4 py-2"
           style="border-radius:10px; font-size:18px; color:white;">
            <i class="bi bi-people"></i> Interns
        </a>
    </div>
    }
    <div class="mt-4">
        <p class="text-muted">
            @switch (roleId)
            {
                case 1:
                    <text>Logged in as <strong>Mentor</strong></text>
                    break;
                case 2:
                    <text>Logged in as <strong>Intern</strong></text>
                    break;
                default:
                    break;
            }
        </p>
    </div>
</div>