<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>
<div class="d-flex justify-content-between align-items-center mb-3">
    @{
        var projectId = ViewBag.ProjectId;
    }
        <a href="/Backlog/BacklogUI?projectId=@projectId"
           class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i> Backlog
        </a>
    </div>
<div id="calendar"></div>
<script>
    document.addEventListener('DOMContentLoaded', function () {


            const tasks = @Html.Raw(ViewBag.Tasks);

            const status = {
            "Not_Started": "#9e9e9e",
            "InProgress": "#2196f3",
            "Completed": "#4caf50",
            "Stuck": "#ff5722",
            "ToDo": "#ab47bc"
            };

            const events = tasks.map(t => ({
                    id: t.TaskId,
                    title: t.Title,
                    owner: t.Owner,
                    start: t.End,
                    backgroundColor: status[t.Status] || "#607d8b",
                    borderColor: status[t.Status] || "#607d8b",
                    allDay: true
            }));
            var calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
            initialView: 'dayGridMonth',
            events: events

        });

        calendar.render();
    });
</script>
