name: CI/CD ASP.NET Core MVC

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: windows-latest

    env:
      PROJECT_FILE: PorjectManagement.csproj
      PUBLISH_DIR: ${{ github.workspace }}\publish
      IIS_DIR: C:\Deploy\ProjectManagement

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Publish
      run: |
        if (Test-Path $env:PUBLISH_DIR) {
          Remove-Item $env:PUBLISH_DIR -Recurse -Force
        }

        dotnet publish $env:PROJECT_FILE `
          -c Release `
          -o "$env:PUBLISH_DIR"

    - name: Verify publish output
      run: |
        echo "Publish directory:"
        echo $env:PUBLISH_DIR
        dir $env:PUBLISH_DIR

    - name: Deploy to IIS
      run: |
        if (!(Test-Path $env:PUBLISH_DIR)) {
          Write-Error "Publish folder NOT FOUND"
          exit 1
        }

        if (!(Test-Path $env:IIS_DIR)) {
          New-Item -ItemType Directory -Path $env:IIS_DIR
        }

        Remove-Item "$env:IIS_DIR\*" -Recurse -Force -ErrorAction SilentlyContinue
        Copy-Item "$env:PUBLISH_DIR\*" "$env:IIS_DIR\" -Recurse -Force

    - name: Restart IIS
      run: iisreset
